In [1]:
import pandas as pd
# Set the display option to show all columns
pd.set_option('display.max_columns', None)

In [2]:
# Read the files `d_items.csv`
compressed_chart_items_df = r"..\Datasets\mimic-iv-2_2\icu\d_items.csv.gz"
compressed_lab_items_df = r"..\Datasets\mimic-iv-2_2\hosp\d_labitems.csv.gz"

# Read and pass the compressed CSV file into a DataFrame
chart_items_df = pd.read_csv(compressed_chart_items_df, compression='gzip')
lab_items_df = pd.read_csv(compressed_lab_items_df, compression='gzip')

In [ ]:
# Extracting the column headers
mimic_headers = mimic_df.columns.tolist()

In [5]:
lab_chart_temp_df = pd.read_csv('CSV\Exports\o04_icu_chart_lab_merged.csv')

C:\Users\dimop\AppData\Local\Temp\ipykernel_22940\3177034828.py:1: DtypeWarning: Columns (9,21,24,25,26) have mixed types. Specify dtype option on import or set low_memory=False.
  lab_chart_temp_df = pd.read_csv('CSV\Exports\o04_icu_chart_lab_merged.csv')

In [7]:
temp_df = lab_chart_temp_df[lab_chart_temp_df['itemid'] == 51009]

In [8]:
display(temp_df)

,subject_id,hadm_id,stay_id,first_careunit,last_careunit,intime,outtime,los,seq_num,icd_code,icd_version,caregiver_id,charttime,storetime,itemid,value,valuenum,valueuom,warning,labevent_id,specimen_id,order_provider_id,ref_range_lower,ref_range_upper,flag,priority,comments
20321,10005817,28661809,31316840,Medical Intensive Care Unit (MICU),Medical/Surgical Intensive Care Unit (MICU/SICU),2135-01-03 21:55:32,2135-01-19 21:16:23,15.972812,6,I82412,10,NaN,2135-01-05 07:28:00,2135-01-05 10:49:00,51009,6.9,6.9,ug/mL,NaN,75826.0,3070000.0,NaN,10.0,20.0,abnormal,STAT,NaN
20322,10005817,28661809,31316840,Medical Intensive Care Unit (MICU),Medical/Surgical Intensive Care Unit (MICU/SICU),2135-01-03 21:55:32,2135-01-19 21:16:23,15.972812,6,I82412,10,NaN,2135-01-07 05:26:00,2135-01-07 10:04:00,51009,15.5,15.5,ug/mL,NaN,75920.0,68299527.0,NaN,10.0,20.0,NaN,ROUTINE,NaN
20323,10005817,28661809,31316840,Medical Intensive Care Unit (MICU),Medical/Surgical Intensive Care Unit (MICU/SICU),2135-01-03 21:55:32,2135-01-19 21:16:23,15.972812,6,I82412,10,NaN,2135-01-09 06:07:00,2135-01-09 07:08:00,51009,14.6,14.6,ug/mL,NaN,76012.0,80743961.0,NaN,10.0,20.0,NaN,ROUTINE,NaN
20324,10005817,28661809,31316840,Medical Intensive Care Unit (MICU),Medical/Surgical Intensive Care Unit (MICU/SICU),2135-01-03 21:55:32,2135-01-19 21:16:23,15.972812,6,I82412,10,NaN,2135-01-14 05:45:00,2135-01-14 06:46:00,51009,24.5,24.5,ug/mL,NaN,76253.0,11208257.0,NaN,10.0,20.0,abnormal,ROUTINE,NaN
20325,10005817,28661809,31316840,Medical Intensive Care Unit (MICU),Medical/Surgical Intensive Care Unit (MICU/SICU),2135-01-03 21:55:32,2135-01-19 21:16:23,15.972812,6,I82412,10,NaN,2135-01-15 06:28:00,2135-01-15 08:43:00,51009,21.3,21.3,ug/mL,NaN,76353.0,45885557.0,NaN,10.0,20.0,abnormal,STAT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12693315,19985409,27293537,32597806,Neuro Intermediate,Neuro Intermediate,2154-09-21 23:11:28,2154-09-28 14:44:53,6.648206,3,I2699,10,NaN,2154-09-25 19:35:00,2154-09-25 20:12:00,51009,5.8,5.8,ug/mL,NaN,118159023.0,64619369.0,NaN,10.0,20.0,abnormal,ROUTINE,NaN
12693316,19985409,27293537,32597806,Neuro Intermediate,Neuro Intermediate,2154-09-21 23:11:28,2154-09-28 14:44:53,6.648206,3,I2699,10,NaN,2154-09-27 03:17:00,2154-09-27 04:32:00,51009,19.2,19.2,ug/mL,NaN,118159053.0,30938731.0,NaN,10.0,20.0,NaN,STAT,NaN
12696215,19989918,22474537,30333293,Trauma SICU (TSICU),Trauma SICU (TSICU),2174-10-13 06:07:00,2174-10-16 14:57:56,3.368704,2,41519,9,NaN,2174-10-15 07:33:00,2174-10-15 08:37:00,51009,___,5.2,ug/mL,NaN,118233603.0,54544422.0,NaN,10.0,20.0,abnormal,STAT,UPDATED REFERENCE RANGE AS OF ___ == REPRESENT...
12698280,19990427,29695607,34058245,Trauma SICU (TSICU),Medical Intensive Care Unit (MICU),2182-01-14 04:16:54,2182-01-23 21:50:34,9.731713,6,I82492,10,NaN,2182-01-16 06:36:00,2182-01-16 07:35:00,51009,8.0,8.0,ug/mL,NaN,118239510.0,24371434.0,NaN,10.0,20.0,abnormal,ROUTINE,NaN
12704656,19991135,29872770,33242276,Medical Intensive Care Unit (MICU),Medical Intensive Care Unit (MICU),2133-07-07 08:15:48,2133-07-11 18:07:10,4.410671,1,I2699,10,NaN,2133-07-09 08:56:00,2133-07-09 11:43:00,51009,21.3,21.3,ug/mL,NaN,118248256.0,10378977.0,NaN,10.0,20.0,abnormal,STAT,NaN

In [6]:
display(lab_chart_temp_df)

,subject_id,hadm_id,stay_id,first_careunit,last_careunit,intime,outtime,los,seq_num,icd_code,icd_version,caregiver_id,charttime,storetime,itemid,value,valuenum,valueuom,warning,labevent_id,specimen_id,order_provider_id,ref_range_lower,ref_range_upper,flag,priority,comments
0,10001884,26184834,37510196,Medical Intensive Care Unit (MICU),Medical Intensive Care Unit (MICU),2131-01-11 04:20:05,2131-01-20 08:27:30,9.171817,7,I82621,10,NaN,2131-01-11 06:37:00,2131-01-11 06:42:00,50802,6,6.0,mEq/L,NaN,16689.0,69124849.0,NaN,NaN,NaN,NaN,NaN,NaN
1,10001884,26184834,37510196,Medical Intensive Care Unit (MICU),Medical Intensive Care Unit (MICU),2131-01-11 04:20:05,2131-01-20 08:27:30,9.171817,7,I82621,10,NaN,2131-01-11 11:33:00,2131-01-11 11:35:00,50802,2,2.0,mEq/L,NaN,16706.0,84172079.0,NaN,NaN,NaN,NaN,NaN,NaN
2,10001884,26184834,37510196,Medical Intensive Care Unit (MICU),Medical Intensive Care Unit (MICU),2131-01-11 04:20:05,2131-01-20 08:27:30,9.171817,7,I82621,10,NaN,2131-01-11 14:48:00,2131-01-11 14:51:00,50802,7,7.0,mEq/L,NaN,16714.0,30052577.0,NaN,NaN,NaN,NaN,NaN,NaN
3,10001884,26184834,37510196,Medical Intensive Care Unit (MICU),Medical Intensive Care Unit (MICU),2131-01-11 04:20:05,2131-01-20 08:27:30,9.171817,7,I82621,10,NaN,2131-01-11 22:21:00,2131-01-11 22:26:00,50802,5,5.0,mEq/L,NaN,16722.0,78430951.0,NaN,NaN,NaN,NaN,NaN,NaN
4,10001884,26184834,37510196,Medical Intensive Care Unit (MICU),Medical Intensive Care Unit (MICU),2131-01-11 04:20:05,2131-01-20 08:27:30,9.171817,7,I82621,10,NaN,2131-01-12 03:48:00,2131-01-12 03:53:00,50802,7,7.0,mEq/L,NaN,16759.0,8788212.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12715931,19996783,21880161,31700331,Coronary Care Unit (CCU),Coronary Care Unit (CCU),2188-05-10 02:20:42,2188-05-10 22:30:28,0.840116,6,I2699,10,32081.0,2188-05-10 08:00:00,2188-05-10 11:50:00,229381,Year,1.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12715932,19996783,21880161,31700331,Coronary Care Unit (CCU),Coronary Care Unit (CCU),2188-05-10 02:20:42,2188-05-10 22:30:28,0.840116,6,I2699,10,32081.0,2188-05-10 12:00:00,2188-05-10 11:50:00,229381,Year,1.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12715933,19996783,21880161,31700331,Coronary Care Unit (CCU),Coronary Care Unit (CCU),2188-05-10 02:20:42,2188-05-10 22:30:28,0.840116,6,I2699,10,32081.0,2188-05-10 16:00:00,2188-05-10 16:25:00,229381,Year,1.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12715934,19996783,21880161,31700331,Coronary Care Unit (CCU),Coronary Care Unit (CCU),2188-05-10 02:20:42,2188-05-10 22:30:28,0.840116,6,I2699,10,75214.0,2188-05-10 20:00:00,2188-05-10 19:44:00,229381,Year,1.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12715935,19996783,21880161,31700331,Coronary Care Unit (CCU),Coronary Care Unit (CCU),2188-05-10 02:20:42,2188-05-10 22:30:28,0.840116,6,I2699,10,75214.0,2188-05-10 03:12:00,2188-05-10 03:20:00,229685,1,1.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
row_temp_df = pd.read_csv('CSV\Exports\o07_chartevent_rows.csv')

In [ ]:
display(row_temp_df)

In [3]:
lab_df = lab_items_df[lab_items_df['label'] == 'Vancomycin']

In [4]:
display(lab_df)

     itemid       label  fluid   category
205   51009  Vancomycin  Blood  Chemistry

In [ ]:
display(lab_chart_temp_df)

In [ ]:
final_df = pd.read_csv('CSV\Exports\datasets\whole_set\o01_final_mean_table.csv')

In [ ]:
# Extract the specific column
temp_column = final_df[['Vancomycin - Mean']]

In [ ]:
# Count not NaN
non_nan_count = temp_column['Vancomycin - Mean'].count()

# Count NaN
nan_count = temp_column['Vancomycin - Mean'].isna().sum()

print ('non nan are: ', non_nan_count)
print ('nan are: ', nan_count)