In [ ]:
"""
Checking if the files have the same
values in the columns
"""

import pandas as pd

def are_csv_files_same_values(file_paths):
    # Read each CSV file into a DataFrame, starting from the second row
    dataframes = [pd.read_csv(file, header=None, skiprows=1) for file in file_paths]

    # Check if columns and values are the same
    for col in dataframes[0].columns:
        for i in range(1, len(dataframes)):
            if not dataframes[0][col].equals(dataframes[i][col]):
                return False

    return True

# List of CSV file paths
csv_files = ['CSV\Exports\datasets\Temp\o01_mean_table.csv',
             'CSV\Exports\datasets\Temp\o02_median_table.csv',
             'CSV\Exports\datasets\Temp\o03_min_table.csv',
             'CSV\Exports\datasets\Temp\o04_max_table.csv']

# Check if CSV files have the same values in columns (excluding headers)
if are_csv_files_same_values(csv_files):
    print("The CSV files have the same values in columns (excluding headers).")
else:
    print("The CSV files do not have the same values in columns (excluding headers).")

In [2]:
import pandas as pd

In [3]:
# Read the specific ICD codes from a CSV file
temp_df = pd.read_csv('CSV\Exports\datasets\whole_set\o03_final_min_table.csv')

In [4]:
display(temp_df)

,row_count,uniquepid,patientunitstayid,Time_Zone,gender,age,ethnicity,-basos (Min),-eos (Min),-lymphs (Min),...,Phenobarbital (Min),Lithium (Min),ANF/ANA (Min),Spontaneous Rate (Min),WBC's in body fluid (Min),Lidocaine (Min),24 h urine urea nitrogen (Min),VE (Min),Amikacin - random (Min),unitdischargestatus
0,1,002-33029,142974,1,Female,54,African American,0.0,0.0,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Alive
1,2,002-33029,142974,2,Female,54,African American,0.0,0.0,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Alive
2,3,002-33029,142974,3,Female,54,African American,0.0,0.0,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Alive
3,4,002-33029,142974,4,Female,54,African American,0.0,0.0,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Alive
4,5,002-33029,142974,5,Female,54,African American,0.0,0.0,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Alive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86667,86668,035-20783,3353144,12,Male,51,African American,0.0,0.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Alive
86668,86669,035-20783,3353144,13,Male,51,African American,0.0,0.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Alive
86669,86670,035-20783,3353144,14,Male,51,African American,0.0,0.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Alive
86670,86671,035-20783,3353144,15,Male,51,African American,0.0,0.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Alive
86671,86672,035-20783,3353144,16,Male,51,African American,0.0,0.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Alive

In [ ]:
# Convert the "result" column to numeric,
# setting errors='coerce' will replace non-numeric values with NaN
temp_df['result'] = pd.to_numeric(temp_df['result'], errors='coerce')
# Drop rows where the "result" column is NaN
temp_df = temp_df.dropna(subset=['result'])
# If you want to reset the index after dropping rows
temp_df = temp_df.reset_index(drop=True)

In [ ]:
# Count unique values in the 'nursingchartcelltypevalname' column
unique_values_count = temp_df['observation'].nunique()

print("The unique values in column 'observation' are:", unique_values_count)